[run]
branch = True
source = ./pyExplainer
pip install pytest-cov
pytest --cov=./

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*