argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
autopep8==1.5.5
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.entry-points-selectable==1.1.0
bleach==4.0.0
brotlipy==0.7.0
CacheControl==0.12.6
cachy==0.3.0
certifi==2021.5.30
cffi==1.14.6
chardet @ file:///C:/ci/chardet_1607706937985/work
charset-normalizer==2.0.2
cleo==0.8.1
click==8.0.1
clikit==0.6.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda==4.10.3
conda-package-handling @ file:///C:/ci/conda-package-handling_1618262410900/work
crashtest==0.3.1
cryptography @ file:///C:/ci/cryptography_1616769504165/work
debugpy==1.4.1
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
defusedxml==0.7.1
distlib==0.3.2
entrypoints==0.3
filelock==3.0.12
html5lib==1.1
huggingface-hub==0.0.12
idna==3.2
importlib-metadata @ file:///C:/ci/importlib-metadata_1617877477759/work
ipykernel==6.1.0
ipython==7.16.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
jedi @ file:///C:/ci/jedi_1611341083684/work
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter @ file:///C:/ci/jupyter_1607685287094/work
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core @ file:///C:/ci/jupyter_core_1612213515523/work
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyring==21.8.0
lockfile==0.12.2
MarkupSafe==2.0.1
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
menuinst==1.4.16
mistune==2.0.3
msgpack==1.0.2
nbclient==0.5.3
nbconvert @ file:///C:/ci/nbconvert_1624479160025/work
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.12
numpy==1.19.0
packaging==20.9
pandas==1.1.0
pandocfilters==1.4.3
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pastel==0.2.1
patsy==0.5.1
pexpect==4.8.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow>=8.3.2
pkginfo==1.7.1
platformdirs==2.0.2
poetry==1.1.9
poetry-core==1.0.3
prometheus-client==0.11.0
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pyexplainer @ file:///C:/Users/micha/documents/github/pyexplainer
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
pylev==1.4.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent==0.18.0
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.1
pywin32>=301
pywin32-ctypes==0.2.0
pywinpty==1.1.3
PyYAML==5.4.1
pyzmq @ file:///C:/ci/pyzmq_1628276105793/work
qtconsole==5.1.1
QtPy==1.9.0
regex==2021.8.3
requests==2.26.0
requests-toolbelt==0.9.1
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.5.0
Send2Trash==1.8.0
shellingham==1.4.0
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
statsmodels==0.12.2
terminado==0.11.0
testpath==0.5.0
threadpoolctl==2.2.0
tokenizers==0.10.3
tomlkit==0.7.2
torch==1.9.0+cu102
torchaudio==0.9.0
torchvision==0.10.0+cu102
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
transformers==4.9.2
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.6.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
zipp @ file:///tmp/build/80754af9/zipp_1625570634446/work
